
<div>
    @if (Success)
    {
        <div class="alert alert-success" role="alert">
            @Message
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @Message
        </div>
    }

    @if (String.IsNullOrEmpty(CurrentExposure) == false)
    {
        <div class="alert alert-info" role="alert">            
            <p><b>Exposição Atual:</b> @CurrentExposure</p>
        </div>
    }

    <button class="btn btn-primary" onclick="document.getElementsByClassName('bm-container')[0].style.display='none'">OK</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public bool Success { get; set; }
    [Parameter] public string? Message { get; set; }
    [Parameter] public string? CurrentExposure { get; set; }

    private async Task close() => await ModalInstance.CancelAsync();

}

